@charset "UTF-8";

body {
  font-family: "Noto Sans JP", "Helvetica Neue", Arial,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Noto Sans", Meiryo,
    sans-serif;
  background-color: #111111;
}

h1 {
  color: #fff;
  text-align: center;
}
/* header */
.header {
  background-color: #070707e3;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}

/* header-lang */
.header-lang {
  margin-top: 35px;
}
.header-lang table {
  color: #fff;
}
.header-lang select {
  border-radius: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  max-width: 120px;
}
@media screen and (max-width: 600px) {
  .header-lang {
    display: none;
  }
}
/* header-logo */
.header-logo {
  margin: 0;
}
.header-logo > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  margin-top: 10px;
}
.title-logo {
  text-align: left;
}
.title-logo:hover {
  filter: drop-shadow(0 0 10px #f5c4ed);
}
.header-nav {
  padding-top: 35px;
  padding-right: 30px;
}
.header-navlist {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-navitem > a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-color 0.25s;
}
.header-navitem > a:hover {
  color: #57e3fc;
  border-bottom: 2px solid #57e3fc;
  filter: drop-shadow(0 0 10px #02a2ff);
}
@media screen and (max-width: 1500px) {
  .header-navlist {
    display: grid;
    margin-top: 50px;
  }
}

/* products */
.mainproducts {
  display: flex;
  justify-content: center;
  margin: 150px 0 30px 0;
}
.products-list {
  list-style: none;
  margin: 0 5px;
}
.card-link {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  align-items: center;
}
.card-link > h1 {
  text-align: center;
}
.card-image:hover {
  filter: opacity(50%) drop-shadow(0 0 10px #fff);
}

/* news */
.news {
  padding: 30px;
  margin-bottom: 80px;
}
.main-news {
  display: flex;
  justify-content: center;
  list-style: none;
}
.news-link {
  display: block;
  padding: 15px;
  margin: 20px;
  color: #333;
  text-decoration: none;
  position: relative;
  background-color: #ceb737;
  transition: background-color 0.25s;
}
.news-link:hover {
  background-color: #f1d741;
  filter: drop-shadow(0 0 10px #fffb00);
}
.news-image {
  display: inline-block;
}
.news-label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffffbe;
  padding: 5px;
  z-index: 5;
}
.news-time {
  font-weight: bold;
  font-size: 17px;
}
.news-discription {
  display: inline-block;
  vertical-align: top;
  width: 230px;
  margin: 0 0 0 5px;
}
.news-olderlist {
  text-align: center;
}
.news-olderlist-link {
  color: #333;
  font-size: 20px;
  text-decoration: none;
}
.news-olderlist-link:hover {
  color: #fffb00;
  border-bottom: 2px solid #fffb00;
  filter: drop-shadow(0 0 10px #fffb00);
}
@media screen and (max-width: 1525px) {
  .main-news {
    display: grid;
  }
}

/* events */
.events {
  position: relative;
  margin-bottom: 120px;
}
.events-inner {
  margin-top: 100px;
  justify-content: center;
  display: flex;
}

.events-image {
  border-radius: 15px;
  overflow: hidden;
}
.event-description{
  color: #333;
  text-align: center;
  padding: 0px 10px 20px 10px;
  width: 300px;
  position: absolute;
  top: 200px;
  left: 100px;
}
.events-link:hover +.event-description {
  color: #a6ff00;
  border: 1px solid #a6ff00;
  border-radius: 15px;
  filter: drop-shadow(0 0 10px #00ff0d);
}

@media screen and (max-width: 1525px) {
  .events-inner {
    display: grid;
  }
}



/* media */
.media {
  text-align: center;
  margin-bottom: 200px;
}
* {
  box-sizing: border-box;
}
.media-contents {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sns {
  padding: 30px;
}
.sns:hover {
  filter: drop-shadow(0 0 10px #ffc400);
}

/* contact */
.select {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  min-width: 500px;
}
.input {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  min-width: 500px;
}
.radio {
  margin: 0 10px;
}
.textarea {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  min-width: 500px;
  min-height: 100px;
}
.form-table {
  margin: 0 auto;
}
.contact {
  color: #fff;
  margin-top: 80px;
  margin-bottom: 200px;
}
.form-table th {
  padding: 10px;
  text-align: left;
}
.form-table td {
  padding: 10px;
}
.form-button {
  margin-top: 40px;
  text-align: center;
}
.button-submission {
  border: 0;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  background-color: #cf076b;
  text-align: center;
  padding: 15px 60px;
  text-decoration: none;
  border-radius: 5px;

}
.button-submission:hover {
  background-color: #cf07b4;
  filter: drop-shadow(0 0 10px #ff01d5);
}